<div class="main-containt ">
	<div class="pagestext">
		Dear, <%= username %> <br />
		<h3>Your Password Has Been Reset Successfully</h3>

		<div class="contacttext">
			<p><strong>Your New Password  is: </strong><%= new_pass %></p>
		</div>

		<div class="contacttext">
			<p><a href='http://couponmandi.com/'>Please click here to login</a></p>
		</div>

		Thank you, <br />
		Couponmadi Team"
	</div>
</div>

