<div class="main-containt ">
	<div class="pagestext">
		Dear, <%= username %> <br />
		<h3>Your Registration Has Been Done Successfully</h3>

		<div class="contacttext">
			<p><a href='http://couponmandi.com/'>Please click here to login</a></p>
		</div>

		Thank you, <br />
		Couponmadi Team"
	</div>
</div>
