<div class="main-containt ">
<div class="pagestext">
<h3>Contact Us	</h3>
<div class="contacttext">
	<p><strong>Email:</strong><br />
    <a href="mailto:info@couponmandi.com" target="_blank">info@couponmandi.com</a></p>
    
    <p><strong>Contact No:</strong><br />
    001 1111 1111</p>
    
    <p><strong>Website:</strong><br />
    <a href="#">http://www.ouponmandi.com</a></p>
    
    <p><strong>Address:</strong><br />
    Lorem ipsum dolor sit amet, consectetur <br />
adipiscing elit. Proin sed elit<br />
 vitae sem fermentum vestibulum eget eu erat. Suspendisse elit urna, </p>
</div>
</div>
</div>
