<div class="main-containt ">
<div class="pagestext">
<h3>Privacy Policy</h3>
<strong>This section elaborates our limited liability for the information provided while registering at <a target="_blank" href="http://www.couponmandi.com/"><span style="font-size: 10pt; font-family: Verdana; color: rgb(0, 0, 153); background-color: transparent; font-weight: normal; font-style: normal; text-decoration: underline; vertical-align: baseline;">www.couponmandi.com</span></a></strong><br />

    1. GreenSparrow would not disclose any information provided by the registered user to any third party.<br />
    2. GreenSparrow can use your email id and mobile number to send you information www.couponmandi.com.<br />
    3. GreenSparrow would not be liable for theft of the registered user’s personal information in case of an online security attack/breach.<br />
    4. Registered users would be responsible for ensuring that their username/password are not disclosed and/or misused.<br />
</div>
</div>
