<div class="main-containt ">
<div class="pagestext">
<h3>Terms & Conditions</h3>
<strong>
This section elaborates the terms and conditions for using www.couponmandi.com. Users registering on <a target="_blank" href="http://www.couponmandi.com/"><span style="font-size: 10pt; font-family: Verdana; color: rgb(0, 0, 153); background-color: transparent; font-weight: normal; font-style: normal; text-decoration: underline; vertical-align: baseline;">www.couponmandi.com</span></a> ‘by default’ agree to the Terms and Conditions listed below.
</strong>

 
<br />
    1. CouponMandi is a Web Based Platform for creating brand awareness and engaging customers and is owned by GreenSparrow, a partnership firm incorporated under the laws of India, with its office at Ahmedabad, India. <br />
    2. GreenSparrow is not responsible in case of denials in entertaining any of the Coupon Codes delivered by CouponMandi. To entertain or not to entertain a Coupon Code is at the sole discretion of the Product/Service provider.<br />
    3. GreenSparrow would not be responsible for the Quality of the Product or the Service provided by the third party Coupon Provider.<br />
    4. GreenSparrow in any case would not be responsible for any damage or losses customers might have to suffer while using the Coupon Code received from CouponMandi for availing services or purchase of product. <br />
    5. GreenSparrow may suspend or terminate your use of the Website or any Service at its sole and absolute discretion.<br />
    6. GreenSparrow has absolute rights over what ever is present on the website. It may not be copied or reused for personal or professional purpose.<br />
    7. Incase of any conflicts, the decision made by GreenSparrow would be final.<br />
    8. These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles, and disputes arising in relation here to shall be subject to the exclusive jurisdiction of the courts at Ahmedabad, India.

</div>
</div>
