<div class="main-containt ">
<div class="pagestext">
<h3>Terms & Conditions</h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed elit vitae sem fermentum vestibulum eget eu erat. Suspendisse elit urna, vestibulum tincidunt aliquet sit amet, aliquam vel odio.<br />
<br />
Suspendisse faucibus quam vitae eros tempus eu dapibus dolor mollis. Nullam tincidunt, lectus ac gravida aliquet, dolor dolor sollicitudin nisi, eget interdum mi quam quis purus. Duis quis lacus in felis  . Sed et dolor non sem ornare vulputate ut et mauris.<br />
<br />
 Sed venenatis, nulla vel suscipit rhoncus, justo nibh malesuada augue, a rhoncus odio nunc eget tortor. <strong>Sed bibendum</strong> turpis mi, et rutrum mauris. In vitae elit sit amet leo tempor tempor. Duis in nisl orci, ac pulvinar lectus. Donec vel sodales nunc. Curabitur et augue felis, vel rutrum orci. 
</div>
</div>
