            <div class="footer">
            	<div class="footerleft"><a href="">Home</a> | <a href="#">Contact Us</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> </div>
                <div class="footerright">Copyright Couponmandi 2012. All rights reserved.</div>
            <div class="cl"></div>
            </div>
