			
            <div class="footer">
            	<div class="footerleft"><%= link_to "Home", fronts_path %> | <%= link_to "Contact Us", contactus_path %> | <%= link_to "Privacy Policy", privacypolicy_path %> | <%= link_to "Terms and Conditions", terms_path %> </div>
                <div class="footerright">Copyright Couponmandi 2012. All rights reserved.</div>
            <div class="cl"></div>
            </div>
