    		<div class="topbox">
		        <div class="socialbox"><a href="#"><img src="images/twitter-icon.png" alt="" /></a>
		           <a href="#"><img src="images/facebook-icon.png" alt="" /></a>
		        </div>
		        	<ul>
		            	<li><a href="#">Home</a></li>
		                <li><a href="#">How it Works?</a></li>
		                <li class="last"><a href="#">Contact Us</a></li>
						<% if !session[:user_id].nil? %>
						<li><%= link_to "Logout", :log_out %></li>
						<% end %>

		            </ul>
		        <div class="cl"></div>
            </div>
            <div class="main-containt">
                <div class="cuponbox">
				    <div class="cuponbox-left"><img src="images/cupon-logo.jpg" alt="" /></div>
				    <div class="cuponbox-right"><img src="images/cupon-img.jpg" alt="" /></div>
				    <div class="cl"></div>
	            </div>
    	        <div class="citybox">
		        	<ul>
		            	<li><span>Filter By:</span></li>
		                <li><a href="#"><img src="images/pink-check.jpg" alt="" />Ahmedabad</a></li>
		                <li><a href="#"><img src="images/green-check.jpg" alt="" />Baroda</a></li>
		            </ul>
	            </div>
